<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css"/>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Where would you like to go for a class trip this summer?</h1>
        <div class="row">
            <div class="col-md-3 option pos-0">
                <button>Nairobi</button>
                <div id="cat-nairobi" class="per">0<small>%</small></div>
                <div id="nairobi">0</div>
            </div>
            <div class="col-md-3 option pos-1">
                <button>Athens</button>
                <div id="cat-athens" class="per">0 <small>%</small></div>
                <div id="athens">0</div>
            </div>
            <div class="col-md-3 option pos-2">
                <button>Bangkok</button>
                <div id="cat-bangkok" class="per">0 <small>%</small></div>
                <div id="bangkok">0</div>
            </div>
            <div class="col-md-3 option pos-3">
                <button>Reykjavik</button>
                <div id="cat-reykjavik" class="per">0 <small>%</small></div>
                <div id="reykjavik">0</div>
            </div>
        </div>

        <div id="barChart"></div>
        <br clear="all">
        <hr>

    </div>

<script type="text/javascript" src="/static/js/vs/VisualSedimentation.js"></script>
<script type="text/javascript" src="static/js/js.js"></script>
<script>
     mySettings = {
          width:$(".container").width(),
          height:400,
          data:{
                model:
                        [
                          {label:"Nairobi"},
                          {label:"Athens"},
                          {label:"Bangkok"},
                          {label:"Reykjavik"},
                        ],
                strata:[
                          [
                            {initValue: 0, label: "Strata 1 col A"},
                          ],[
                            {initValue: 0, label: "Strata 1 col B"},
                          ],[
                            {initValue: 0, label: "Strata 1 col C"}
                          ],[
                            {initValue: 0, label: "Strata 1 col D"}
                          ]
                        ],
                stream:{
                  provider:'',
                  //provider:'direct',
                  //refresh:10000/6
                }
              },
          sedimentation:{
            aggregation:{
              height:50
            },
            token:{
              size:{original:20,minimum:5,},
            },
            suspension:{
              decay:{power:1}
            }

          },
          chart:{
                 width:$(".container").width(),
                 height:380,
                 wallColor:"rgba(230,230,230,0.5)",
                 floorColor:"rgba(230,230,230,0.5)",
                 type:'StackedAreaChart',
                 spacer:0,
                 radius:50,
                },
          options:{
            layout:false
          }
        }
	var myBarChart =  $("#barChart").vs(mySettings).data('visualSedimentation');
	function addToken1(){
        myBarChart.addToken({category:0})
    }
    function addToken2(){
        myBarChart.addToken({category:1})
    }
    function addToken3(){
        myBarChart.addToken({category:2})
    }
    function addToken4(){
        myBarChart.addToken({category:3})
    }
</script>
</body>