<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visual Sedimentation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css"/>
</head>
<body>
    <div class="container vote">
        <div class="row" style="width:100%;">
            <h4 class="text-center">To vote: <b>infoviz.mevey.co.ke</b></h4>
            <h1 class="text-center">Where would you like to go for a class trip this summer?</h1>
            <p class="text-center" style="color:#888;">(Vote by clicking on preferred choice. You can vote more than once.)</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 option">
                <button>Nairobi</button>
                <img src="static/img/nairobi.jpeg"/>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-1 option">
                <button>Athens</button>
                <img src="static/img/athens.jpeg"/>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-1 option">
                <button>Bangkok</button>
                <img src="static/img/bangkok.jpeg"/>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-1 option">
                <button>Reykjavik</button>
                <img src="static/img/reykjavik.jpeg"/>
            </div>
        </div>
    </div>
<script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="static/js/js.js"></script>
</body>
</html>